@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


:root {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

